<div class="row text-center pt-5 m-0" style="height: 800px;">
    <div class="col-md-4 col-sm-6 d-flex justify-content-around">
        <p-card header="Travel to India" subheader="Subheader" class="m-2" [style]="{width: '400px'}"
            styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="../../assets/planes/plane.webp">
            </p-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque quas!</div>
            <p-footer>
                <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>
    <div class="col-md-4 col-sm-6  d-flex justify-content-around">
        <p-card header="Travel to Punta Cana" class="m-2" subheader="Subheader" [style]="{width: '400px'}"
            styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="../../assets/planes/plane2.webp">
            </p-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque quas!</div>
            <p-footer>
                <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>
    <div class="col-md-4 col-sm-6  d-flex justify-content-around">
        <p-card header="Travel to Maldives" class="m-2" subheader="Subheader" [style]="{width: '400px'}"
            styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="../../assets/planes/plane3.webp">
            </p-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque quas!</div>
            <p-footer>
                <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>

    </div>
</div>